  <mat-sidenav-container>
  <mat-sidenav #sidenav
    class="sidenav"
    [opened] = "!isSmallScreen"
    [fixedInViewport]="true"
    mode="push">

    <mat-toolbar color="primary">
      <span>Exemplos</span>
    </mat-toolbar>
    <mat-nav-list color="primary">
      <a mat-list-item routerLink="/ButtonsIcons">Material Button Icons</a>
      <a mat-list-item routerLink="/FormFieldInput">Material Form Field</a>
      <a mat-list-item routerLink="/ProgressBarSpinner">Material Progress Bar Spinner</a>
      <a mat-list-item routerLink="/tabs">Tabs</a>
      <a mat-list-item routerLink="/datapicker">Datapicker</a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Body -->
  <mat-sidenav-content>
    <mat-toolbar
      class="toolbar-menu"
      color="primary"
      [class.mat-elevation-z4]="applyShadow">
      <button mat-icon-button
      (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span *ngIf="popText">Angular Material</span>
      <span class="example-spacer"></span>
      <button mat-icon-button >
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
    <mat-toolbar class="toolbar-submenu" color="primary">
      <span *ngIf="!popText">Angular Material</span>
    </mat-toolbar>
    <div class="div-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


