  <mat-sidenav-container>
  <mat-sidenav #sidenav
    class="sidenav"
    [opened] = "!isSmallScreen"
    [fixedInViewport]="true"
    mode="push">
  </mat-sidenav>
      <!-- Body -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button
      (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Exemplos Angular Material</span>
      <span class="example-spacer"></span>
      <button mat-icon-button >
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>
